/* 폰트적용 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html > body {
  font-family: "Pretendard";
}

/* 회원가입 상단 */
.WrapperScreen {
  padding: 48px 72px;
}

.WrapperScreen > form {
  width: 430px;
  height: 1080px;
}

input {
  border-width: 1px;
}

/* 회원가입 중단 */
.btn-1 {
  border-color: rgba(230, 120, 0, 1);
}

.btn-1 > span {
  color: #e67800;
}

.btn-2,
.btn-3 {
  background-color: #e6780080;
}

.btn-2,
.btn-3 > span {
  color: white;
}

/* 체크박스 */
[type="checkbox"] {
  width: 18px;
  height: 18px;
  appearance: none;
  box-sizing: border-box;
  border: 2px solid rgba(115, 115, 115, 1);
  border-radius: 3px;
  outline: 0;
}

[type="checkbox"]:checked {
  background-color: rgba(230, 120, 0, 1);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  border: 0;
}
