/* 폰트 설정 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html>body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

/* lb */
:root {
  --site-width: 1280px;
  --top-bar__height: 64px;
}

body {
  height: 100%;
  padding-top: var(--top-bar__height);
}

.con {
  max-width: var(--site-width);
}

/* 백그라운드-lb */
.bg-img {
  background-position: 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* list-할인가격-lb */
.text-yellow-450 {
  --tw-text-opacity: 1;
  color: rgba(230, 120, 0, var(--tw-text-opacity));
}

/*==== 로고 ====*/
.logo {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
}

/* 탑바 */
.top-bar {
  --color: white;
  --inverse-color: black;
  height: var(--top-bar__height);
  color: var(--color);
  width: 100%;
}

.top-bar.hover {
  --color: black;
  --inverse-color: white;
  background-color: var(--inverse-color);
  border-bottom: 1px solid #dfdfdf;
}

/* logo-menu-box */
.menu-1__li-icon>a>spen {
  font-size: 20px;
}

.menu-1>li:not(.menu-1__li-icon)>a>spen {
  font-size: 14px;
}

.menu-1__li-join>a>spen {
  background-color: var(--color, white);
  color: var(--inverse-color, black);
  padding: 15px 15px 10px 15px;
  margin-bottom: 5px;
  border-radius: 20px;
}

/*==== 슬라이더-스와이퍼 ====*/
.slider-1 .swiper {
  height: 440px;
  max-width: 100hv;
}

/* bg-img */
.slider-1__slide-1.img-1 {
  background-color: #e53e54;
}

.img-3 {
  background-color: #4ccbed;
}

.img-4 {
  background-color: #f2f9ff;
}

/* bg-img-반응형 */
@media (max-width:900px) {
  .slider-1__slide-3 {
    background-image: url(https://cdn.jsdelivr.net/gh/solmopark/Project-lion/docs/img/clayful_.png);
    background-size: auto 100%;
  }
}

/* bg-text */
.st-box-1 {
  padding-bottom: 40px;
}

.st-box-1__title {
  font-size: 1.7rem;
  font-weight: bold;
}

.st-box-1__sub-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 15px;
}

.st-box-1__btn-more {
  margin-top: 6px;
  padding: 12px;
  padding-bottom: 8px;
}

/* bg-text-반응형 */
@media (max-width:768px) {
  .st-box-1__title {
    font-size: 1.2rem;
  }

  .s-t-box-1__sub-title {
    font-size: 1rem;
  }
}

/*==== 슬라이더 ====*/
.section-top-slider {
  top: -64px;
}

.slider-1.swiper {
  height: 300px;
}

/* 슬라이더-btn */
.slider-1 .swiper-button-next,
.slider-1 .swiper-button-prev {
  --swiper-navigation-size: 22px;
  --swiper-navigation-color: white;

}

.slider-1 .swiper-pagination.swiper-pagination-fraction {
  background-color: rgba(255, 255, 255, 0.4);
  width: auto;
  left: 85%;
  bottom: 25px;
  transform: translateX(-50%);
  padding: 5px 5px 2px 5px;
  font-size: 0.7rem;
  border-radius: 5px;
}

/*==== 푸터-2 ====*/
.footer-list-2__n {
  font-size: 12px;
}

.footer-list-2__com {
  font-size: 12px;
}

@media (max-width : 1023px ) {
  .footer-list-2__n {
    font-size: 10px;
  }

  .footer-list-2__com {
    font-size: 10px;
  }
}

.footer-list-2__n>._list::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background-color: #737373;
}